<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title  %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="container">
      <div class="row" style='margin-top:20px'>
        <div id='left-container' class='span5'>
          &nbsp;
        </div>
        <div class='span13'>
          <div id="lselect">
            <ul>
              <li class='<%= active_if( /index/ ) %>'><a href="/">Home</a></li>
              <li class='<%= active_if( /painting/ ) %>'><a href="/s/painting.html">Painting</a></li>
              <li class='<%= active_if( /drawing/ ) %>'><a href="/s/drawing.html">Drawing</a></li>
              <li class='<%= active_if( /photo/ ) %>'><a href="/s/photo.html">Photography</a></li>
              <li class='<%= active_if( /video/ ) %>'><a href="/s/video.html">Video</a></li>
              <li class='<%= active_if( /performance/ ) %>'><a href="/s/performance.html">Performance</a></li>
              <li class='<%= active_if( /contact/ ) %>'><a href="/s/contact.html">Contact</a></li>
            </ul>
          </div>

          <div class='row'>
            <div class="span13">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>


      <footer>
        <p>&copy; Elya May 2012</p>
      </footer>
    </div>
  </body>
</html>
