
<div style='background-color:white;'>
  <ul id='gallery' class="media-grid">
    <% data.art[category].each  do |photo| %>
    <li>
      <a href="/images/work/big/<%= photo[:file] %>" title="<%= photo[:title].gsub(/\"/, '') %>" rel="lightbox-journey">
        <div class='thumb-container'>
          <div class="img-container"  align="center">
            <img class="thumbnail" src="/images/work/thumb/<%= photo[:file] %>" title="<%= photo[:title].gsub(/\"/, '') %>">
          </div>
<!--           <div class='img_title'><%= photo[:title] %></div> -->
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>
